version: '3.9'

services:
  app:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: us-central1-docker.pkg.dev/oraculo-478817/oraculo/oraculo-aplicacao-web:latest
    env_file:
      - .env
    environment:
      APP_ENV: production
      APP_DEBUG: 'false'
      APP_URL: http://localhost
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
      SESSION_DRIVER: file
      ELASTICSEARCH_SCHEME: ${ELASTICSEARCH_SCHEME:-http}
      ELASTICSEARCH_HOST: ${ELASTICSEARCH_HOST:-elasticsearch}
      ELASTICSEARCH_PORT: ${ELASTICSEARCH_PORT:-9200}
      ELASTICSEARCH_INDEX: ${ELASTICSEARCH_INDEX:-itens-normalizados}
    volumes:
      - app-code:/var/www/html
      - storage:/var/www/html/storage
      - sqlite:/var/www/html/database
    expose:
      - "9000"

  web:
    image: nginx:1.27-alpine
    depends_on:
      - app
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - app-code:/var/www/html
      - storage:/var/www/html/storage

volumes:
  app-code:
  storage:
  sqlite:

